header{
  display: flex;
  align-items: center;
  color:#00008B;
}

h1{
  display:flex;
  font-size: 30px;
  margin:30px;
}

ul{
  display:flex;
  margin-left:auto;
}

li{
  display:flex;
  font-size: 20px;
  margin-left:20px;
}

img{
  width:800px;
  height:600px;
  position:relative;
  top:300px;
  left:600px;
}

footer{
  margin-top:50px;
}

.footer-content{
  font-size:70px;
}

.footer-color{
  background-color: #000080;
  width:1000px;
  height:250px;
  margin-bottom:30px;
}
